
@media (any-pointer: fine) {
    
    @keyframes animatedTitle {
    
        from { 
            color: rgba(255,255,255,0.5);
        }
        to { 
            color: rgba(255,255,255,1.0);
        }
  }
}

@media (any-pointer: coarse) {
    
    @keyframes animatedTitle {
    
        from { 
            margin-top: 65%;
            color: rgba(255,255,255,0.5);
        }
        to { 
            margin-top: 70%;
            color: rgba(255,255,255,1.0);
        }
  }
}

.bigtitle {
    position: absolute;
    text-align: center;
    position: relative;
    display: block;
    margin-top: 20%;
    font-size: calc(30px + 6vmin);
    color: #FFFFFF;
    animation: animatedTitle 2s ease-out;
    animation-fill-mode: forwards;
}

.bgdiv {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    scroll-behavior: auto;
}

@media (any-pointer: fine) {
    @keyframes animatedBackground {
    
        from { 
            top: 0;
            width: 120%;
            filter: alpha(opacity=60); 
            opacity: 0.60;
         }
        to { 
            top: -100%;
            width: 100%;
            filter: alpha(opacity=90); 
            opacity: 0.90;
         }
      }
}

@media (any-pointer: coarse) {
    @keyframes animatedBackground {
        from {
            left: -20%;
            width: 130%;
            filter: alpha(opacity=60); 
            opacity: 0.60;
         }
        to { 
            left: -20%;
            width: 160%;
            filter: alpha(opacity=90); 
            opacity: 0.90;
         }
      }
}

.bgimg{
    align-items: center;
    position: absolute;
    background-size: contain;
    filter: alpha(opacity=90);  
    width: 100%;
    opacity: 0.90;
    color: #000000;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    animation: animatedBackground 17s ease-out;
    animation-fill-mode: forwards;
}