
.bigtitle {
    text-align: center;
    position: relative;
    display: block;
    margin-top: 20%;
    font-size: calc(30px + 6vmin);
    color: #FFFFFF;

}

.bgdiv {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    scroll-behavior: auto;
}


.bgimg{
    align-items: center;
    position: absolute;
    background-size: contain;
    filter: alpha(opacity=50);  
    width: 100%;
    opacity: 0.50;
    color: #000000;
    background-repeat: no-repeat;
}

.TestingBTN {
    text-align: center;
    position: relative;
    font-size: calc(20px + 2vmin);
    color: #FFFFFF;
}

.TestingConTainer{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
}